<h1>shit</h1>

<ul>
    <% @users.each do |user| %>
        <li><%= user.name %> | <%= user.role.name %></li>
    <% end %>
</ul>

<ul> 
    <% @roles.each do |role| %>
        <li><%= role.name %></li>
    <% end %>
</ul>


